In [41]:
####
abs(-1)

1

In [42]:
####
a1 = ['a', 'b', False]
a2 = ['a', 'b', ''] 
a3 = ['a', 'b', 0]
a4 = ['a', 'b', 'c']
all(a1), all(a2), all(a3), all(a4)

(False, False, False, True)

In [43]:
####
a1 = ['a', 'b', False]
a2 = ['a', 'b', ''] 
a3 = ['a', 'b', 0]
a4 = ['a', 'b', 'c']
any(a1), any(a2), any(a3), any(a4)

(True, True, True, True)

In [44]:
####
ascii("Python")

"'Python'"

In [5]:
#### 转换为二进制
bin(12), bin(-120)

('0b1100', '-0b1111000')

In [6]:
####
bool(0), bool(1), bool(True), bool(False), bool('')

(False, True, True, False, False)

In [7]:
#### 判断对象是否可以被调用
callable(max), callable(min), callable(None)

(True, True, False)

In [8]:
#### 查看十进制数的Ascii值
chr(0x30), chr(97), chr(27)

('0', 'a', '\x1b')

In [9]:
#### 
class Stud:
    num = 1
    def fn1(self):
        print('方法一')
    @classmethod
    def fn2(cls):
        print('方法二')
        print(cls.num)  # 调用类的实例化对象
        cls().fn1()  # 调用类的方法
Stud.fn2()  # 不需要实例化

方法二
1
方法一

In [10]:
object1 = Stud()  # 需要实例化
object1.fn1()

方法一

In [11]:
#### 
complex(3, 4)

(3+4j)

In [12]:
#### 
dict1 = dict(a = 'a', b = 'b')
dict1

{'a': 'a', 'b': 'b'}

In [13]:
dict2 = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
dict2

{'one': 1, 'two': 2, 'three': 3}

In [14]:
####
divmod(20, 3), divmod(100, 5)

((6, 2), (20, 0))

In [15]:
####
b1 = ['q', 'w', 'e']
b2 = enumerate(b1)
for i, j in b2:
    print(i, j)

0 q
1 w
2 e

In [16]:
b1 = ['q', 'w', 'e']
b2 = enumerate(b1)
for i in b2:
    print(i)

(0, 'q')
(1, 'w')
(2, 'e')

In [17]:
b1 = ['q', 'w', 'e']
b2 = enumerate(b1, 5)
for i in b2:
    print(i)

(5, 'q')
(6, 'w')
(7, 'e')

In [18]:
#### 
x = 7
eval('3 * x')

21

In [19]:
eval('x + 1')

8

In [20]:
c1 = '(1, 2, 3)'
c2 = eval(c1)
type(c1), type(c2), c1, c2

(str, tuple, '(1, 2, 3)', (1, 2, 3))

In [21]:
####
my_list = [0, 1, 2, 3, 4, '', 5, '', None]
new_list = list(filter(None, my_list))
new_list

[1, 2, 3, 4, 5]

In [22]:
def is_oushu(x):
    return x % 2 == 0
new_l = list(filter(is_oushu, list(range(1, 11, 1))))
new_l

[2, 4, 6, 8, 10]

In [23]:
a = list(range(1, 11))
b = list(filter(lambda x : x != 2 and x != 4, a))
b

[1, 3, 5, 6, 7, 8, 9, 10]

In [24]:
####
float(1), float(112.0), float('123'), float(True), float(False)

(1.0, 112.0, 123.0, 1.0, 0.0)

In [25]:
####
'My Name Is {0}. I Like {1}.'.format('Jy', 'Apple')

'My Name Is Jy. I Like Apple.'

In [26]:
'{:>8}'.format('18')

'      18'

In [27]:
'{:<8}'.format('18')

'18      '

In [28]:
'{:^8}'.format('18')

'   18   '

In [29]:
'{:0>8}'.format('18')

'00000018'

In [30]:
'{:*>8}'.format('18')

'******18'

In [31]:
'{:.2f}'.format(123.123456)

'123.12'

In [32]:
'{:,}'.format(123123456)

'123,123,456'

In [33]:
####
a = frozenset(range(10))
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [34]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
b = frozenset('JiangYuLi')
b

frozenset({'J', 'L', 'Y', 'a', 'g', 'i', 'n', 'u'})

In [36]:
####
class Person():
    sex = '男'
    def __init__(self, name):
        self.name = name
    def peopleinfo(self):
        print(f'欢迎{self.name}访问！')
obj = Person('JiangYu')

In [37]:
hasattr(Person, 'sex')

True

In [38]:
'sex' in Person.__dict__

True

In [39]:
hasattr(obj, 'peopleinfo')

True

In [40]:
####
a = input('请输入一个数字或者字母: ')
if a.isdigit():  # 判断是否为数字
    print(a)
else:
    print('a不是数字')

请输入一个数字或者字母: 2
2

In [45]:
####
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
zip1 = zip(x, y, z)
zip1

In [46]:
for i in zip1:
    print(i)

(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

In [47]:
l1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
[[j[i] for j in l1] for i in range(len(l1[0]))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [50]:
####
a = [1, 2, 3]
sum(a)

6

In [52]:
sum((1, 2, 3), 2), sum((1, 2, 3), 1)

(8, 7)

In [53]:
sum([1, 2, 3], 8)

14

In [59]:
a = range(1, 10)
b = range(1, 10, 2)
list(a), list(b)

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 3, 5, 7, 9])

In [61]:
c = (item for item in a if item in b)
list(c)

[1, 3, 5, 7, 9]

In [62]:
#### 
class C(object):
    @staticmethod 
    def f():
        print('Hello World!')
C.f()  # 可以不需要实例化

Hello World!

In [63]:
####
a = [1, 3, 5, 2, 4, 8]
sorted(a)

[1, 2, 3, 4, 5, 8]

In [65]:
####
s1 = {11, 22, 33}
s2 = {22, 55}
s3 = s1.intersection(s2)  # 交集
s3

{22}